@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navber {
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
}
.navber,
.banner {
    max-width: 1400px;
    margin: 0 auto;
}
.brand {
    font-size: 2.9rem;
    font-weight: bold;
}

/* shared style */

main > section {
    margin-top: 130px;
}
section {
    max-width: 1440px;
}
.section-title {
    max-width: 464px;
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bg-color {
    background-color: rgba(255, 229, 14, 0.1);
}
.desplay-flex {
    display: flex;
}
.dark-01 {
    color: #131313;
}
.dark-02 {
    color: #424242;
}
.dark-03 {
    color: #727272;
}
/* bannet style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
}
.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-image {
    width: 100%;
}
/* teams style */
.teams {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features {
    max-width: 530px;
    margin-left: 73px;
}

#Quick-list {
    font-weight: 500;
}
.text-primary {
    color: #ff900e;
}
.container {
    display: flex;
}
/* feature style  */
.feature {
    margin: 0 auto;
    /* margin-top: 130px; */
    gap: 140px;
    padding-left: 20px;
}
#feature-style {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-card {
    border: 1px solid rgba(0, 0, 0, 0.06);
    max-width: 586px;
    border-radius: 8px;
    box-shadow: 0 4 30 0 rgba(0, 0, 0, 0.06);
    margin-top: 10px;
}
.feature-description {
    max-width: 550px;
}
.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
}
/* experience- style */
#experience-batch {
    padding: 45px 40px;
    margin-top: -100px;
    margin-left: -100px;
}

.expreience-year {
    font-size: 4rem;
    font-weight: 700;
}
.feature-architech img {
    width: 100%;
}
/* fact section related style */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: auto;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin: auto;
}

/* mobile device responsive */

@media screen and (max-width: 576px) {
    .navber,
    .nav-links,
    .teams,
    .feature {
        flex-direction: column;
    }
    .fact-container {
        display: grid;
        justify-items: center;
        gap: 15px;
        grid-template-columns: 1fr;
    }

    .teams-image-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #experience-batch {
        margin-top: auto;
        margin-left: auto;
    }
}

/* tablet device responsive layout */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navber,
    .nav-links,
    .teams {
        flex-direction: column;
        gap: 20px;
    }
    .our-features {
        text-align: center;
    }
}
